<div id="header-container">
    <h1 mat-dialog-title>Add Work Experience</h1>
    <button mat-icon-button (click)="onCancelClick()" id="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <mat-vertical-stepper [linear]="true" (selectionChange)="onSelectionChange($event)">
        <mat-step [stepControl]="titleFormGroup">
            <form [formGroup]="titleFormGroup">
                <ng-template matStepLabel>Fill out details</ng-template>
                <mat-form-field>
                    <mat-label>Job Title</mat-label>
                    <input matInput placeholder="Enter a job title" formControlName="jobTitleCtrl" required
                        cdkFocusInitial>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="descriptionFormGroup">
            <form [formGroup]="descriptionFormGroup">
                <ng-template matStepLabel>Fill out description</ng-template>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Enter a description" formControlName="descriptionCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Preview</ng-template>
            <p>{{ data.jobTitle }}</p>
            <p>{{ data.description }}</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="onSave()" [mat-dialog-close]="data">Save</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>