<mat-card data-cy="workExperience">
    <mat-card-header>
        <div mat-card-avatar class="work-header-image">
            <mat-icon>work</mat-icon>
        </div>
        <mat-card-title>Work Experience</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list data-cy="workExperiencesList">
            <div *ngFor="let workExperience of workExperiences; index as i" id="work-experience-list-item">
                <app-work-experience [data]="workExperience"></app-work-experience>
                <mat-divider [inset]="true" *ngIf="i < workExperiences.length - 1"></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button aria-label="Add work experience" (click)="openAddExperienceDialog()"
            [style.display]="isEditable ? 'inline' : 'none'">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>