<mat-card data-cy="resume">
    <mat-card-content>
        <mat-list data-cy="workExperiencesList">
            <mat-list-item *ngFor="let workExperience of workExperiences; index as i">
                <h3 matLine>{{ workExperience.jobTitle }}</h3>
                <p matLine>{{ workExperience.description }}</p>
                <mat-divider [inset]="true" *ngIf="i < workExperiences.length - 1"></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<i class="material-icons md-dark">face</i>
