<mat-card data-cy="resume">
   <div class="work-experience">
      <!-- TODO: move to work-experience.html -->
      <mat-card-header>
         <div mat-card-avatar class="work-header-image"></div>
         <mat-card-title>Work Experience</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <mat-list data-cy="workExperiencesList">
               <mat-list-item *ngFor="let workExperience of workExperiences; index as i">
                  <h3 matLine>{{ workExperience.jobTitle }}</h3>
                  <p matLine>{{ workExperience.description }}</p>
                  <mat-divider [inset]="true" *ngIf="i < workExperiences.length - 1"></mat-divider>
               </mat-list-item>
         </mat-list>
      </mat-card-content>
      <mat-card-actions>
         <button mat-icon-button aria-label="Add work experience" (click)="openDialogAddExperience()">
               <mat-icon>add_circle</mat-icon>
         </button>
      </mat-card-actions>
   </div>
</mat-card>